*{
    scrollbar-width: thin;
    scrollbar-color: var(--title-color) var(--nav-bar-color);
    transition:border 0.5s ease , background 0.5s ease;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

*::-webkit-scrollbar
{
    width: 5px;
    
}
*::-webkit-scrollbar-thumb
{
    background-color: var(--title-color);
}
*::-webkit-scrollbar-track
{
    background-color: var(--nav-bar-color);
}

@font-face{
    font-family : "pixle";
    src : url("../Fonts/Warioland4chmc-VApe.ttf");
    font-weight:bolder;
}
@font-face{
    font-family : "poppins";
    src : url("../Fonts/Poppins-Regular.ttf");
    font-weight: 400;
}
@font-face{
    font-family : "roboto";
    src : url("../Fonts/Roboto-Regular.ttf");
    font-weight: 400;
}

:root
{
    --h1-size : 65px;
    --h2-size : 59px;
    --h3-size : 53px;
    --h4-size : 45px;
    --h5-size : 37px;
    --h6-size : 29px;
    --p-size  : 19px;
    --note-size : 21px;

    --padding : 6px;
    --margin : 6px;

    /* nav bar styling */
    --nav-bar-height : 75px;
    --nav-bar-grid : 2fr 6fr 2fr;


    
    --border-radius:8px;
    --border-size:4px;

    /* text ares */
    --textarea-height : 115px;
    --comment-textarea : 28px;
    --comment-section-height : 600px;

    /* user meta data styling */
    --edit-button-size : 22px;
    --dot-size: 4px;
    
    /* drop menus (edit / option menu ) */
    --options-top-pos: 600px;

    /* icons */
    --icon-size : 30px;
    --icon-img-size : 20px ;

    /* switches  */
    --mode-switch-size : 40px;
    
    /* input ui grid layouts */
    --comment-ui-grid : calc(var(--user-img-size) * 1.5) 1fr calc(var(--icon-size) * 1.5);
    --project-ui-grid :7fr 3fr;
    --register-ui-grid : 3fr 7fr;
    --skill-ui-grid : 2fr 6fr 2fr ;
    
    /* posts grid layouts */
    --blog-title-grid :calc(100% - var(--icon-size)) var(--icon-size);
    --skill-row-grid : 2fr 6fr 2fr ;
    --upload-meta-data-grid:2fr 2fr;

    /* images */
    --user-img-size: 50px ;
    --dropped-img-size:90px;
    --profile-img-max-size:150px;
    --profile-background-max-size: 700px; 
    --project-img-max-size:800px;
    
    /* row */
    --row-width: 80%;

    --option-men-width:200px;
    --gap:10px;
}

html[data-theme = 'dark']{
    /* background color */
    --body-background-color : #151515;
    /*  navigation bar color */
    --nav-bar-color : #000000;

    /* text coloring */
    --title-color : #6a48ff;
    --normal-text-color :#ffffff;
    --note-color : #d1d1d1;
    --option-text-color : #5a5a5a;
    --anchor-text-color:#045abd;
    --visited-anchor-text-color: #009eb3;
    --normal-text-color: #ffffff;
    /* border-coloring */
    --border-color: #000000;
    --border-hover : #4d2ddc;
    --border-warning-color : #ff0000;

    /* input UI coloring */
    --data-input-bg-color : #3a3a3a;
    --text-input-background : #1f1f1f;
}

html[data-theme= 'light']
{
    /* background color */
    --body-background-color : #ebebeb;
    /*  navigation bar color */
    --nav-bar-color : #8c8c8c;

    /* text coloring */
    --title-color : #00aeff;
    --normal-text-color :#000000;
    --option-text-color : #575757;
    --note-color : #555555;
    /* --normal-text-color :#ffffff; */
    /* anschor text color */
    --anchor-text-color:#020083;
    --visited-anchor-text-color: #2257dd;

    /* border-coloring */
    --border-color: #3d3d3d;
    --border-hover : #73ceff;
    --border-warning-color : #ff0000;

    /* input UI coloring */
    --data-input-bg-color : #c2c2c2;
    --text-input-background : #dfdfdf;
}


html,body
{
    margin: 0;
    padding: 0;
    background: var(--body-background-color);
}


h1,h2,h3,h4,h5,h6
{
    padding: 0;
    margin: 0;
    color: var(--title-color);
    font-family: 'pixle';
    font-size: var(--h1-size) ;
    font-weight: bolder;
    width: auto;
    max-width: 100%;
}

h2{
    font-size: var(--h2-size)
}
h3{
    font-size: var(--h3-size)
}
h4{
    font-size: var(--h4-size)
}
h5{
    font-size: var(--h5-size)
}
h6{
    font-size: var(--h6-size)
}

hr{
    width: 90%;
    height: 1px;
    background-color: var(--normal-text-color);
    border: none;
}

p,a,li
{
    margin:5px 0;
    white-space: pre-line;
    font-family: "Roboto" !important;
    color: var(--normal-text-color);
    font-size: var(--p-size);
    width: auto;
    max-width: 100%; 
}

a{
    color:var(--anchor-text-color);
    font-weight:bold;
}

a:visited
{
    color:var(--visited-anchor-text-color);
}

ul,ol 
{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    text-align: start;
}

textarea,input[type="text"]
{
    width: 95%;
    resize: none;
    padding: var(--padding) 4px;
    color: var(--normal-text-color);
    height: var(--textarea-height);
    border : var(--border-size) var(--border-color) solid;
    border-radius: var(--border-radius);
    font-size : var(--p-size);
    font-family : 'Roboto';
    margin: 0;
    background-color : var(--text-input-background);
}

textarea.comment-textarea
{
    height : var(--comment-textarea);
}

input[type="text"]
{
    height: var(--comment-textarea);
}

input[type="button"],button
{
    height: auto;
    display: grid;
    min-width: 40px;
    justify-self: center;
    place-content: center;
    max-width: fit-content;
    font-family : "pixle";
    font-size: var(--h6-size);
    padding:  0px var(--padding);
    color: var(--normal-text-color);
    border-radius: var(--border-radius);
    background-color: var(--title-color);
    border: var(--border-size) var(--border-color) solid;
    transition: background 0.5s 0.0s ease;
}

input[type="button"]:hover,button:hover
{
    background-color: var(--border-hover);
}

input[type="button"]:active,button:active 
{
    transform: translate(0px, 5px);
}


input[type="file"], input[type="checkbox"] , input[type="radio"]
{
    display: none;
}

img
{
    width: var(--user-img-size);
    height: var(--user-img-size);
    border-radius: 100%;
    margin: auto;
}

.nav-bar
{
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 5;
    display: grid;
    position: fixed;
    padding: 0px var(--padding);
    align-items: center;
    justify-content: center;
    height: var(--nav-bar-height);
    background: var(--nav-bar-color);
    grid-template-columns: var(--nav-bar-grid);
    border-radius: 0px 0px var(--border-radius) var(--border-radius);
}
.nav-bar-icons
{
    display: flex;
    gap: var(--gap);
    width: 100%;
    align-items: center;
    align-content: center;
    padding-right: var(--padding);
}


.logo
{
    display: grid;
    place-items: center;
}

.nav-bar a , .nav-bar-menu a ,.nav-bar p , .nav-bar-menu p
{
    display: flex;
    padding: 2px var(--padding);
    text-decoration: none;
    font-family: 'pixle' !important;
    font-size: var(--h6-size);
    border: var(--border-size) #00000000 solid;
    color: var(--option-text-color);
    border-radius: var(--border-radius);
    transition:all 0.5s cubic-bezier(.63,.37,.37,.63);

}

.nav-bar-menu a , .nav-bar-menu p
{
    font-size: var(--h3-size);
    place-self: center;
}


 
.nav-bar a:hover , .nav-bar a.at , .nav-bar-menu a:hover , .nav-bar-menu a.at
{
    color: var(--normal-text-color);
    border-color: var(--normal-text-color);
}

.logo a 
{
    font-size: var(--h5-size);
    border-color: var(--option-text-color);
    
}
.logo a:hover , .logo a.at
{
    color: var(--title-color);
    border-color: var(--title-color);
}

.nav-bar-options
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.burger 
{
    position: relative;
    cursor: pointer;
    z-index: 0;
    display: none;
    height: 35px;
    width: 40px;
   
}

.line1,.line2,.line3
{
    height: 7px;
    width: 40px;
    margin-bottom: 5px;
    background-color: var(--normal-text-color);
    transition: transform 0.7s  cubic-bezier(.63,.37,.37,.63) , opacity 1s cubic-bezier(.63,.37,.37,.63);
    border-radius: 50px;
}

.nav-bar-menu
{
    position: fixed;
    top: calc(var(--nav-bar-height) - (var(--nav-bar-height) / 10));
    display: flex;
    flex-direction: column;
    right: 0px;
    left: 0px;
    align-items: center;
    background-color: var(--nav-bar-color);
    height: 0px;
    overflow-y: scroll;
    z-index: 2;
    gap: var(--gap);
    transition: height 0.7s  cubic-bezier(.63,.37,.37,.63);
    display: none;
}

.nav-bar-menu.active , input[type="checkbox"]:checked + label.burger + div.nav-bar-menu
{
    height: 400px;
    padding: var(--padding) 0px;
}

.nav-bar-menu > *
{
    position: relative;
    top:-700px;
}


.nav-bar-menu.active , input[type="checkbox"]:checked + label.burger + div.nav-bar-menu  > *
{
    transform: translate(0 , 750px);
    transition: transform 0.4s calc(var(--order) * 0.2s) cubic-bezier(.63,.37,.37,.63),border 0.5s ease ;
}

input[type="checkbox"]:checked + label.burger  > .line1
{
    transform: rotate(-45deg) translate(-11px , 5px);
}
input[type="checkbox"]:checked + label.burger  >  .line2
{
    transform:  translate(100px , 0px);
}
input[type="checkbox"]:checked + label.burger  > .line3
{
    transform: rotate(45deg) translate(-11px , -5px);
}

.page
{
    width: 100%;
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-top : calc(var(--nav-bar-height) + 10px);
    padding-bottom:200px;
}

.row
{
    width: var(--row-width);
    display: grid;
    max-width : var(--row-max-width);
    align-content : center;
    align-items: center;
    grid-template-columns: 1fr;
}


.input
{
    background-color: var(--data-input-bg-color);
    border: var(--border-size) var(--border-color) solid;
    border-radius: var(--border-radius);
    padding: var(--padding) var(--padding);
    padding-bottom: calc(var(--padding) * 3);
}

.input >p , .input > div > p
{
    font-size: var(--p-size);
    text-align: center;
    place-self: center;
}

.post-ui
{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.buttons
{
    display:flex;
    flex-direction: row;
    gap:var(--gap);
    top: calc(calc(var(--h5-size) + var(--padding)) / -2);
    position: relative;
    place-content: center;
}

.note
{
    font-size: var(--note-size);
    color: var(--note-color);
    font-family: 'pixle' !important;
    text-align: center;
    place-self: center;
    width: 100%;
}

.dropzone 
{
    display: none;
    margin: 0 auto;
    width: calc(95%);
    align-content: center;
    border-radius: var(--border-radius);
    border: var(--border-size) var(--option-text-color) dashed;
}

.dropzone img
{
    height: var(--dropped-img-size);
    width: var(--dropped-img-size);
    border-radius: var(--border-radius);
    border: var(--border-size) #00000000 solid;
    border-radius: var(--border-radius);
    margin : 2px;
}

.dropzone img:hover
{
    border-color: var(--border-warning-color);
}

.dropzone.active
{
    border-color: var(--option-text-color);
    display: inline;
    gap: var(--gap);
}
.dropzone.active:hover, .dropzone:hover
{
    border-color: var(--normal-text-color);
}

.mode-switch
{
    display: flex;
    position: relative;
    width: var(--mode-switch-size);
    height:var(--mode-switch-size);
    border-radius: 100%;
    border: var(--border-size) var(--border-hover) outset;
    background :var(--body-background-color);
    overflow: hidden;
    z-index: 1;
}

.mode-switch > img:first-child
{
    top:98px;
    left: 0px;
    width:var(--mode-switch-size);
    height: var(--mode-switch-size);
    position: absolute;
    border-radius: 50px;
    background-color: #00000000;
    transition: transform 0.7s ease;
}
.mode-switch > img:last-child
{
    top:0px;
    left: 2px;
    width: calc(var(--mode-switch-size) - 1px);
    height: calc(var(--mode-switch-size) - 1px);
    position: absolute;
    border-radius: 50px;
    background-color: #00000000;
    transition: transform 0.7s ease;

}

input[type="checkbox"]:checked + label.mode-switch > img:first-child
{
    transform: translate(0px , -98px);
}
input[type="checkbox"]:checked + label.mode-switch > img:last-child
{
    transform: translate(0px , 99px);
}

.log-out
{
    /* height: 30px; */
    background-color: #00000000;
    color : var(--normal-text-color);
    font-size: var(--h6-size);
    border-radius: var(--border-radius);
    font-family : "pixle" !important;
    border: var(--border-size) var(--title-color) solid;
    transition: background 0.5s cubic-bezier(.63,.37,.37,.63);
}
.log-out:hover
{
    color : var(--normal-text-color);
    background-color: var(--border-hover)
}

.upload-meta-data
{
    display: flex;
    grid-template-columns: var(--upload-meta-data-grid);
    width: 100%;
    align-content: center;
    align-items: center;
    gap: var(--gap);
    justify-content: space-between;
}

.upload-meta-data p 
{
    font-family: 'pixle' !important;
}
.upload-meta-data > div
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.upload-meta-data > div  > p
{
    font-size: var(--h5-size);
}
.user-image-name
{
    display : flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: var(--gap);
}

.user-image-name > img , .comment-ui img
{
    border: var(--border-size) var(--title-color) outset;
}


.user-image-name p 
{
    font-family: 'pixle' !important;
    font-size: var(--h4-size);
}




.date p 
{
    font-size: var(--note-size);
    place-self: center;
}
.date
{
    display: flex;
    place-items: center;
    width: 100%;
    gap: 5px;
    justify-content: space-evenly;
    flex-direction: column;
    
}

.date > div
{
    display: flex;
}

.date img , .date svg
{
    height: var(--icon-img-size);
    width: var(--icon-img-size);
    border-radius: 0px;
    margin: auto 10px;
}
.upload-edit
{
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
}

.edit-button
{
    gap: 4px;
    width: var(--edit-button-size);
    height: var(--edit-button-size);
    display: flex;
    padding: var(--padding);
    place-items: center;
    place-self : end;
    border-radius: 100%;
    position: relative;
}

.edit-button:hover , input[type="checkbox"]:checked + label.edit-button
{
    background-color: var(--text-input-background);
}

.dot
{
    /* border-radius: 100%; */
    width: var(--dot-size);
    height: var(--dot-size);
    background-color: var(--normal-text-color);
}

.option-menu
{
    border: var(--border-size) #00000000 solid ;
    height: 0px;
    width: var(--option-men-width);
    position : absolute;
    top: calc(var(--edit-button-size) * 0);
    right: calc(var(--edit-button-size)  * 2);
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    gap: var(--gap);
    z-index: 2;
    transition:  height  0.50s 0.01s , background 0.10s 0.35s, border 0.20s  0.40s , padding 0.2s 0.1s  ;
}

.option-menu  *
{
    margin: 0;
}

input[type="checkbox"]:checked + label.edit-button + div.option-menu , input[type="checkbox"]:checked + .option-list + .option-menu
{
    background: var(--text-input-background);
    border: var(--border-size) var(--border-color) solid ;
    height: calc( calc(calc(var(--amount) ) * var(--gap) ) + calc(var(--padding) * 2)  + calc(var(--comment-textarea) * var(--amount)));
    padding: var(--padding) 0;
    transition:  height  0.40s 0.2s , background 0.20s 0.15s, border 0.20s  0.05s ,padding 0.2s 0.2s cubic-bezier(.44,.68,.64,.72);
}

input[type="checkbox"]:checked + .option-list + .option-menu 
{
    height: calc( calc(calc(var(--amount) - 1) * var(--gap) ) + calc(var(--padding) * 2 ) + calc(var(--comment-textarea) * var(--amount)));
}

input[type="checkbox"]:checked + label.edit-button + .option-menu > .option , input[type="checkbox"]:checked + .option-list + .option-menu > .option 
{
    transform : translate(0px , var(--options-top-pos));
    transition: transform 0.5s calc(var(--order) * 0.2s)ease , background-color 0.5s ease; ;

}

.option 
{
    background-color: #00000000;
    color: var(--normal-text-color);
    border : none;
    font-family: 'pixle' !important;
    font-size: var(--comment-textarea);
    border-radius: var(--border-radius);
    width: 90%;
    position: relative;
    top: calc(var(--options-top-pos) * -1);
    transition: background 0.5s cubic-bezier(.63,.37,.37,.63),transform 0.5s cubic-bezier(.63,.37,.37,.63);
}
.option >p
{
    text-align: center;
    justify-self: center;
    text-align: center;
    justify-self: center;
    font-family: pixle !important;
    font-size: var(--h6-size);
    border : none;
    border-radius: var(--border-radius);
    transition: background 0.5s cubic-bezier(.63,.37,.37,.63),transform 0.5s cubic-bezier(.63,.37,.37,.63);
}

.option:hover , input[type="radio"]:checked + label.option , input[type="radio"]:checked 
{
    background-color: var(--title-color);
    color: var(--normal-text-color);
}

input[type="radio"]:checked + label.option >p 
{
    color: var(--normal-text-color);
}

.comment-ui
{
    display: grid;
    grid-template-columns: var(--comment-ui-grid);
    place-items: center;
    gap: var(--gap);
}


.arrow
{
    fill:var(--normal-text-color);
    height: var(--icon-size);
    width: var(--icon-size);
    fill-opacity:1;
    stroke:none;
    stroke-width:0.0489864;
    paint-order:stroke markers fill;
    transition: transform 0.1s cubic-bezier(.63,.37,.37,.63);
    transform: rotate(180deg);
    place-self: center;
    cursor: pointer;
}


.comment-section 
{
    height: 0;
    width: 95%;
    overflow-y: auto;
    place-self: center;
    overflow-x: hidden;
    transition: height 1.2s cubic-bezier(.63,.37,.37,.63);;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    margin: var(--padding) 0;
}


.comment-section.active , input[type="checkbox"]:checked + .comment-section
{
    height: var(--comment-section-height);
}

label:active > .arrow
{
    transform:rotate(180deg) translate(0px , -10px);
}


.comment
{
    max-width: 92%;
    padding: var(--padding);
    background : var(--data-input-bg-color);
    border : var(--border-size) var(--border-color) solid;
    border-radius : var(--border-radius);
    place-self:center;
}


.project-ui
{
    display: grid;
    justify-content: center;
    grid-template-columns:var(--project-ui-grid);
    place-items: center;
}

.project-ui >div
{
    /* display: grid; */
    gap: var(--gap);
    width: 100%;
    height: 100%;
    margin: 0 auto ;
}


.project-ui >div:first-child
{
    display: grid;
    justify-items: center;
    align-items: start;
    gap: 0px;
}

.project-ui >div:last-child 
{
    margin: 0 auto ;
}


.drop-list
{
    width: 95%;
    justify-self: center;
    align-self: start;
    display: flex;
    background-color: var(--text-input-background);
    border: var(--border-size) var(--border-color) solid;
    border-radius : var(--border-radius);
    place-content : center;
    height: var(--comment-textarea);
    padding: var(--padding) 0px;
    position: relative;
    margin: 0 auto;
}
.drop-list p 
{
    text-align: center;
    font-size: var(--comment-textarea);
    font-family: "pixle" !important;
    width: auto;
    margin: auto;
}
.option-list 
{
    width: 100%;
    justify-content: center;
    cursor: pointer;
}

.option-list > .arrow
{
    position: absolute;
    top: calc( calc(var(--comment-textarea) + var(--padding) * 2)* -1 );
    width: calc(var(--icon-size));
    right: 5px;
    z-index: 4;
}
.option-list + .option-menu
{
    width:100%; 
    top: calc(var(--border-size) * -1);
    left: calc(var(--border-size) * -1);
    /* min-width: 200px; */
}

.dropzone.single
{
    display: flex;
    width: 100px;
    height: 100px;
    padding: var(--padding);
    place-content : center;
    place-items: center;
}
.dropzone.single > label
{
    display: flex;
    width: 100px;
    height: 100px;
    padding: var(--padding);
    place-items: center;
}

.dropzone.single > img
{
    height: var(--dropped-img-size);
    width: var(--dropped-img-size);
    border-radius: var(--border-radius);
}

.project
{
    display: grid;
    grid-template-columns: var(--project-ui-grid);
    margin: var(--padding) 0px;
    gap: var(--gap);
}

.project > div:first-child
{
    display: grid;
    grid-template-columns: 1fr;
}

.project > div:first-child > p
{
    padding-left: 30px;
}

.project > div:last-child
{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: var(--gap);
    height: 100%;
}



.project img
{
    width: 90%;
    height: auto;
    max-width: var(--project-img-max-size);
    max-height: var(--project-img-max-size);
    place-self: center;
    border-radius: var(--border-radius);
}

.project h3,.project  h2 ,.project  h3 ,.project  h4 ,.project  h5 ,.project h6,.blog  h1 ,.blog  h2 ,.blog  h3 , .blog  h4 ,.blog  h5 ,.blog  h6
{

    place-self: start;
}

.blog p
{
    margin-left: 20px;
}

p > img
{
    display:flex;
    height: auto;
    max-height: 800px;
    width: auto;
    max-width: 80%;
    border-radius: 0px;
    margin: 10px  auto;
}


.blog > div
{
    display: grid;
    grid-template-columns: calc(100% - var(--icon-size)) var(--icon-size);
    width: 100%;
}

.profile-imgs
{

    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: calc(var(--profile-img-max-size) / 2 + 10px);

}
.profile-imgs > img:first-child
{
    width: 70%;
    height: auto;
    /* max-width: 95%; */
    max-height: max-content;
    place-self: center;
    border-radius: var(--border-radius);
}
.profile-imgs > img:last-child
{
    height: var(--profile-img-max-size);
    width: var(--profile-img-max-size);
    position: absolute;
    bottom: calc(var(--profile-img-max-size) / -2);
    border : calc(var(--border-size) * 1.5 ) var(--border-hover) outset ;
}

.bio
{
    text-align: center;
    margin-bottom: 10px;
}

.skill
{
    gap: 10px;
    display: grid;
    grid-template-columns: var(--skill-row-grid);
    place-content: center;
    place-items :center;
    padding: var(--padding) 0px;
}

.skill p 
{
    font-size: calc(var(--p-size) * 0.8);
}

.skill img
{
    width:var(--dropped-img-size);
    height:var(--dropped-img-size);
    border-radius: 0;
}

.skill > div
{
    display: flex;
    place-items: center;
    flex-direction: column;
    place-self: center;
}

.skill > div:first-child  p 
{
    font-family: 'pixle' !important;
}
.skill > div:nth-child(2)
{
    font-family: Roboto !important;
}
.skill > div:nth-child(3) > p 
{
    font-family: 'pixle' !important;
}


.row > h2 , .row>h1
{
    text-align: center;
}

.register-ui 
{
    display: grid;
    text-align: center;
    max-width: 85%;
    gap: var(--gap);
    margin: auto;
}


.register-ui > div
{
    display: grid;
    place-items: center;
    width: 100%;
    grid-template-columns: var(--register-ui-grid);
    gap: var(--gap);
}

.upload-icons *
{
    fill: var(--title-color);
}



@media screen and (max-width : 1000px )
{
    :root
    {

        --h1-size : 55px;
        --h2-size : 49px;
        --h3-size : 43px;
        --h4-size : 37px;
        --h5-size : 31px;
        --h6-size : 25px;
        --p-size  : 17px;
        --note-size : 21px;
    
        --padding : 10px;
        --margin : 6px;
    
        /* nav bar styling */
        --nav-bar-height : 80px;
        --nav-bar-grid : 2fr 6fr 2fr;
    
    
        /* borders */
        --border-radius:8px;
        --border-size:4px;
    
        /* text ares */
        --textarea-height : 115px;
        --comment-textarea : 34px;
        --comment-section-height : 600px;
    
        /* user meta data styling */
        --edit-button-size : 22px;
        --dot-size: 4px;
        
        /* drop menus (edit / option menu ) */
        --options-top-pos: 600px;
    
        /* icons */
        --icon-size : 30px;
        --icon-img-size : 20px ;
    
        /* switches  */
        --mode-switch-size : 50px;

        /* input ui grid layouts */
        --comment-ui-grid : calc(var(--user-img-size) * 1.5) 1fr calc(var(--icon-size) * 1.5);
        --project-ui-grid :1fr;
        --register-ui-grid : 1fr 3fr;
        --skill-ui-grid : 1fr ;
        
        /* posts grid layouts */
        --blog-title-grid :calc(100% - var(--icon-size)) var(--icon-size);
        --skill-row-grid : 2fr 6fr 2fr ;
        --upload-meta-data-grid:2fr 2fr;
    
        /* images */
        --user-img-size: 50px ;
        --dropped-img-size:90px;
        --profile-img-max-size:150px;
        --profile-background-max-size: 700px; 
        --project-img-max-size:800px;
        
        /* row */
        --row-width: 85%;
    
        --option-men-width:200px;
        --gap:10px;
    }
    .option-menu
    {
        right: calc(var(--edit-button-size)  * 2);
    }
    .option-list > .arrow
    {
        top: calc( calc(var(--comment-textarea) + var(--padding))* -2 );
    }
    .input >p , .input > div > p
    {
        font-size: calc(var(--p-size)) !important;
        text-align: center;
        place-self: center;
    }

    .nav-bar-options > a
    {
        display: none;
    }
    .burger
    {
        display: block;
    }

    .project
    {
        grid-template-columns: 1fr;
    }

    .upload-meta-data > div:first-child
    {
        flex-direction: column;
        place-items: start;
    }


    .nav-bar-menu
    {
        display: flex;
    }
}

@media screen and (max-width : 600px )
{
    :root
    {

        --h1-size : 53px;
        --h2-size : 47px;
        --h3-size : 41px;
        --h4-size : 35px;
        --h5-size : 27px;
        --h6-size : 21px;
        --p-size  : 14px;
        --note-size : 21px;
    
        --padding : 10px;
        --margin : 6px;
    
        /* nav bar styling */
        --nav-bar-height : 70px;
        --nav-bar-grid : 2fr 2fr 2fr;
    
    
        /* borders */
        --border-radius:8px;
        --border-size:4px;
    
        /* text ares */
        --textarea-height : 115px;
        --comment-textarea : 30px;
        --comment-section-height : 600px;
    
        /* user meta data styling */
        --edit-button-size : 22px;
        --dot-size: 4px;
        
        /* drop menus (edit / option menu ) */
        --options-top-pos: 600px;
    
        /* icons */
        --icon-size : 30px;
        --icon-img-size : 20px ;
    
        /* switches  */
        --mode-switch-size : 50px;

        /* input ui grid layouts */
        --comment-ui-grid : calc(var(--user-img-size) * 1.5) 1fr calc(var(--icon-size) * 1.5);
        --project-ui-grid :1fr;
        --register-ui-grid : 1fr 3fr;
        --skill-ui-grid : 1fr ;
        
        /* posts grid layouts */
        --blog-title-grid :calc(100% - var(--icon-size)) var(--icon-size);
        --skill-row-grid : 2fr 6fr 2fr ;
        --upload-meta-data-grid:2fr 2fr;
    
        /* images */
        --user-img-size: 50px ;
        --dropped-img-size:90px;
        --profile-img-max-size:150px;
        --profile-background-max-size: 700px; 
        --project-img-max-size:800px;
        
        /* row */
        --row-width: 85%;
    
        --option-men-width:200px;
        --gap:10px;
    }

    .burger
    {
        display: block;
        height: 30px;
        width: 30px;
    }
    .line1,.line2,.line3
    {
        height: 5px;
        width: 30px;
    }
    input[type="checkbox"]:checked + label.burger  > .line1
    {
        transform: rotate(-45deg) translate(-9px , 5px);
    }
    input[type="checkbox"]:checked + label.burger  >  .line2
    {
        transform:  translate(100px , 0px);
    }
    input[type="checkbox"]:checked + label.burger  > .line3
    {
        transform: rotate(45deg) translate(-9px , -5px);
    }

}


@media screen and (min-resolution : 200dpi ) 
{
    :root
    {

        --h1-size : 33px;
        --h2-size : 29px;
        --h3-size : 25px;
        --h4-size : 21px;
        --h5-size : 17px;
        --h6-size : 13px;
        --p-size  : 11px;
        --note-size : 9px;
    
        --padding : 5px;
        --margin : 3px;
        --gap:10px;

        /* nav bar styling */
        --nav-bar-height : 60px;
        --nav-bar-grid : 2fr 2fr 2fr;
    
    
        /* borders */
        --border-radius:8px;
        --border-size:2px;
    
        /* text ares */
        --textarea-height : 70px;
        --comment-textarea : 16px;
        --comment-section-height : 600px;
    
        /* user meta data styling */
        --edit-button-size : 22px;
        --dot-size: 4px;
        
        /* drop menus (edit / option menu ) */
        --option-men-width:200px;
        --options-top-pos: 600px;
    
        /* icons */
        --icon-size : 20px;
        --icon-img-size : 10px ;
    
        /* switches  */
        --mode-switch-size : 25px;

        /* input ui grid layouts */
        --comment-ui-grid : calc(var(--user-img-size) * 1.5) 1fr calc(var(--icon-size) * 1.5);
        --project-ui-grid :1fr;
        --register-ui-grid : 1fr 3fr;
        --skill-ui-grid : 1fr ;
        
        /* posts grid layouts */
        --blog-title-grid :calc(100% - var(--icon-size)) var(--icon-size);
        --skill-row-grid : 2fr 6fr 2fr ;
        --upload-meta-data-grid:2fr 2fr;
    
        /* images */
        --user-img-size: 20px ;
        --dropped-img-size:40px;
        --profile-img-max-size:60px;
        --profile-background-max-size: 1000px; 
        
        /* row */
        --row-width: 85%;
    
    }


    .option-list > .arrow
    {
        top: calc( calc(var(--comment-textarea) + var(--padding) * 2)* -1);
    }

    .nav-bar-options > a 
    {
        display: none;
    }
    
    .nav-bar a 
    {
        font-size: var(--h2-size);
    }

    .burger
    {
        display: block;
    }
    
    .upload-meta-data > div:first-child
    {
        flex-direction: column;
        place-items: start;
    }
    .nav-bar-options > a 
    {
        display: none;
    }
    .nav-bar-menu
    {
        display: flex;
    }

}