*{
    scrollbar-width: thin;
    scrollbar-color: var(--title-color) var(--nav-bar-color);
}

*::-webkit-scrollbar
{
    width: 5px;
    
}
*::-webkit-scrollbar-thumb
{
    background-color: var(--title-color);
}
*::-webkit-scrollbar-track
{
    background-color: var(--nav-bar-color);
}



@font-face{
    font-family : 'basis33';
    src : url("../Fonts/basis33.ttf");
    font-weight: 400;
}
@font-face{
    font-family : "poppins";
    src : url("../Fonts/Poppins-Regular.ttf");
    font-weight: 400;
}
@font-face{
    font-family : "roboto";
    src : url("../Fonts/Roboto-Regular.ttf");
    font-weight: 400;
}

:root
{
    --h1-size : 66px;
    --h2-size : 58px;
    --h3-size : 50px;
    --h4-size : 42px;
    --h5-size : 34px;
    --h6-size : 28px;
    --p-size  : 20px;
    --note-size : 20px;


    --nav-bar-height : 75px;

    /* --h1-size : 40px;
    --h2-size : 36px;
    --h3-size : 32px;
    --h4-size : 28px;
    --h5-size : 24px;
    --h6-size : 18px;
    --p-size  : 20px;
    --note-size :10px;


    --nav-bar-height : 75px; */

    --border-radius:8px;
    --border-size:2px;

    --textarea-height : 115px;
    --comment-textarea : 24px;
    --comment-section-height : 600px;

    --edit-button-size : 22px;
    --dot-size: 4px;

    --arrow-size : 40px;
    --mode-switch-size : 40px;

    --dropped-img-size:90px;
    --profile-img-max-size:150px;
    --profile-background-max-size: 1000px; 
    --user-img-size: 50px ;
    --icon-img-size : 20px ;
    
    --option-destines: 200px;
    
    --row-max-width:1000px;
    --row-width: 90%;
    
    --project-img-max-size:100%;

    --option-men-width:200px;
    --gap:6px;
}

html[data-theme = 'dark']{
    /* background color */
    --body-background-color : #151515;
    /*  navigation bar color */
    --nav-bar-color : #000000;

    /* text coloring */
    --title-color : #6a48ff;
    --normal-text-color :#ffffff;
    --note-color : #d1d1d1;
    --option-text-color : #5a5a5a;
    --anchor-text-color:#045abd;
    --visited-anchor-text-color: #009eb3;
    --button-font-color: #ffffff;
    /* border-coloring */
    --border-color: #000000;
    --border-hover : #6a48ff;
    --border-warning-color : #ff0000;

    /* input UI coloring */
    --data-input-bg-color : #3a3a3a;
    --text-input-background : #1f1f1f;
}

html[data-theme= 'light']
{
    /* background color */
    --body-background-color : #ebebeb;
    /*  navigation bar color */
    --nav-bar-color : #8c8c8c;

    /* text coloring */
    --title-color : #7105ff;
    --normal-text-color :#000000;
    --option-text-color : #575757;
    --note-color : #555555;
    --button-font-color :#ffffff;
    /* anschor text color */
    --anchor-text-color:#044ebd;
    --visited-anchor-text-color: #008496;

    /* border-coloring */
    --border-color: #3d3d3d;
    --border-hover : #7105ff;
    --border-warning-color : #ff0000;

    /* input UI coloring */
    --data-input-bg-color : #c2c2c2;
    --text-input-background : #dfdfdf;
}


html,body
{
    margin: 0;
    padding: 0;
    background: var(--body-background-color);
}


h1,h2,h3,h4,h5,h6
{
    padding: 0;
    margin: 0;
    color: var(--title-color);
    font-family: 'basis33';
    font-size: var(--h1-size);
    font-weight: bold;
}

h2{
    font-size: var(--h2-size)
}
h3{
    font-size: var(--h3-size)
}
h4{
    font-size: var(--h4-size)
}
h5{
    font-size: var(--h5-size)
}
h6{
    font-size: var(--h6-size)
}

hr{
    width: 90%;
    height: 1px;
    background-color: var(--normal-text-color);
    border: none;
}

p,a 
{
    margin:0px;
    white-space: pre-line;
    font-size: var(--p-size);
    font-family: "Roboto";
    color: var(--normal-text-color);
    transition: border 0.5s ease;
    width: auto;
}

a{
    color:var(--anchor-text-color);
}

a:visited
{
    color:var(--visited-anchor-text-color);
}

textarea,input[type="text"]
{
    width: 90%;
    resize: none;
    padding: 2px 4px;
    color: var(--normal-text-color);
    height: var(--textarea-height);
    border : var(--border-size) var(--border-color) solid;
    border-radius: var(--border-radius);
    font-size : var(--p-size);
    font-family : 'Roboto';
    background-color : var(--text-input-background);
}

textarea.comment-textarea
{
    height : var(--comment-textarea);
}

input[type="text"]
{
    height: var(--comment-textarea);
}

input[type="button"],button
{
    height: 28px;
    display: grid;
    min-width: 40px;
    padding: 0px 5px;
    justify-self: center;
    place-content: center;
    max-width: fit-content;
    font-family : "basis33";
    font-size: var(--h6-size);
    color: var(--button-font-color);
    border-radius: var(--border-radius);
    background-color: var(--title-color);
    border: var(--border-size) var(--border-color) solid;
    
}

input[type="button"]:active,button:active 
{
    transform: translate(0px, 5px);
}


input[type="file"], input[type="checkbox"] , input[type="radio"]
{
    display: none;
}

img
{
    width: var(--user-img-size);
    height: var(--user-img-size);
    border-radius: 100%;
}


/* form
{
    max-width: fit-content;
    width: fit-content;
} */

.nav-bar
{
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 5;
    display: grid;
    position: fixed;
    padding: 0px 10px;
    align-items: center;
    justify-content: center;
    height: var(--nav-bar-height);
    background: var(--nav-bar-color);
    grid-template-columns: 2fr 6fr 2fr;
    border-radius: 0px 0px var(--border-radius) var(--border-radius);
}
.nav-bar-icons
{
    display: flex;
    gap: var(--gap);
    width: 100%;
    align-items: center;
    align-content: center;
    padding-right: 5px;
}


.logo
{
    display: grid;
    place-items: center;
}

.nav-bar a , .nav-bar-menu a ,.nav-bar p , .nav-bar-menu p
{
    display: flex;
    padding: 2px 4px;
    text-decoration: none;
    font-family: 'basis33';
    font-size: var(--h6-size);
    border: 2px #00000000 solid;
    color: var(--option-text-color);
    border-radius: var(--border-radius);
    transition:all 0.5s cubic-bezier(0.68, 0.48, 0.11,1);

}

.nav-bar-menu a , .nav-bar-menu p
{
    font-size: var(--h3-size);
    place-self: center;
}


 
.nav-bar a:hover , .nav-bar a.at , .nav-bar-menu a:hover , .nav-bar-menu a.at
{
    color: var(--normal-text-color);
    border-color: var(--normal-text-color);

}

.logo a 
{
    font-size: var(--h4-size);
    border-color: var(--option-text-color);
    
}
.logo a:hover , .logo a.at
{
    color: var(--title-color);
    border-color: var(--title-color);
}

.nav-bar-options
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.burger 
{
    position: relative;
    cursor: pointer;
    z-index: 0;
    display: none;
   
}

.line1,.line2,.line3
{
    height: 3px;
    width: 25px;
    margin-bottom: 5px;
    background-color: var(--normal-text-color);
    transition: transform 0.7s  cubic-bezier(0.78, 0.48, 0.01, 1) , opacity 1s cubic-bezier(0.78, 0.48, 0.01, 1);
    border-radius: 50px;
}

.nav-bar-menu
{
    position: fixed;
    top: calc(var(--nav-bar-height) - (var(--nav-bar-height) / 10));
    display: flex;
    flex-direction: column;
    right: 0px;
    left: 0px;
    align-items: center;
    background-color: var(--nav-bar-color);
    height: 0px;
    overflow-y: scroll;
    z-index: 2;
    gap: var(--gap);
    transition: height 0.7s  cubic-bezier(0.78, 0.48, 0.01, 1);
    display: none;
}

.nav-bar-menu.active , input[type="checkbox"]:checked + label.burger + div.nav-bar-menu
{
    height: 400px;
    padding: 15px 0px;
}

.nav-bar-menu > *
{
    position: relative;
    top:-500px;
}


.nav-bar-menu.active , input[type="checkbox"]:checked + label.burger + div.nav-bar-menu  > *
{
    transform: translate(0 , 500px);
    transition: transform 0.4s calc(var(--order) * 0.2s) cubic-bezier(0.78, 0.48, 0.01, 1),border 0.5s ease ;
}

input[type="checkbox"]:checked + label.burger  > .line1 ,.line1.active
{
    transform: rotate(-45deg) translate(-5px , 6px);
}
input[type="checkbox"]:checked + label.burger > .line2, .line2.active
{
    transform: translate(-50px , 0px);
    opacity: 0;
}
input[type="checkbox"]:checked + label.burger  > .line3 , .line3.active
{
    transform: rotate(45deg) translate(-5px , -6px);
}


.page
{
    width: 100%;
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-top : calc(var(--nav-bar-height) + 10px);
    padding-bottom:200px;
}

.row
{
    width: var(--row-width);
    display: grid;
    max-width : var(--row-max-width);
    align-content : center;
    align-items: center;
    grid-template-columns: 1fr;
}


.input
{
    background-color: var(--data-input-bg-color);
    border: var(--border-size) var(--border-color) solid;
    border-radius: var(--border-radius);
    padding: 15px 5px;
}
.post-ui
{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.buttons
{
    display:flex;
    flex-direction: row;
    gap:var(--gap);
    top: -15px;
    position: relative;
    place-content: center;
}

.note
{
    font-size: var(--note-size);
    color: var(--note-color);
    font-family: 'basis33';
    text-align: center;
    place-self: center;
    width: 100%;
}

.dropzone 
{
    width: 95%;
    align-self: center;
    justify-self: center;
    align-content: center;
    border: var(--border-size) var(--option-text-color) dashed;
    border-radius: var(--border-radius);
    display: none;
    padding:5px 0px;
    margin: 5px 0px;
}

.dropzone img
{
    height: var(--dropped-img-size);
    width: var(--dropped-img-size);
    border-radius: var(--border-radius);
    margin : 2px;
    border: var(--border-size) #00000000 solid;
    border-radius: var(--border-radius);
}

.dropzone img:hover
{
    border-color: var(--border-warning-color);
}

.dropzone.active
{
    border-color: var(--option-text-color);
    display: flex;
    gap: var(--gap);
}
.dropzone.drag , .dropzone:hover
{
    border-color: var(--normal-text-color);
}

.mode-switch
{
    display: flex;
    position: relative;
    width: var(--mode-switch-size);
    height:var(--mode-switch-size);
    border-radius: 100%;
    border: 2px var(--border-hover) outset;
    background :var(--body-background-color);
    overflow: hidden;
    z-index: 1;
}

.mode-switch > img:first-child
{
    top:98px;
    left: 0px;
    width:var(--mode-switch-size);
    height: var(--mode-switch-size);
    position: absolute;
    border-radius: 50px;
    background-color: #00000000;
    transition: transform 0.7s ease;
}
.mode-switch > img:last-child
{
    top:0px;
    left: 2px;
    width: calc(var(--mode-switch-size) - 1px);
    height: calc(var(--mode-switch-size) - 1px);
    position: absolute;
    border-radius: 50px;
    background-color: #00000000;
    transition: transform 0.7s ease;

}

input[type="checkbox"]:checked + label.mode-switch > img:first-child
{
    transform: translate(0px , -98px);
}
input[type="checkbox"]:checked + label.mode-switch > img:last-child
{
    transform: translate(0px , 99px);
}

.log-out
{
    /* height: 30px; */
    background-color: #00000000;
    color : var(--normal-text-color);
    font-size: var(--h6-size);
    border-radius: var(--border-radius);
    font-family : "basis33";
    border: var(--border-size) var(--title-color) solid;
    transition: background 0.5s cubic-bezier(0.78, 0.48, 0.01, 1);
}
.log-out:hover
{
    color : var(--normal-text-color);
    background-color: var(--title-color)
}

.upload-meta-data
{
    display: flex;
    grid-template-columns: 2fr 2fr;
    width: 100%;
    align-content: center;
    align-items: center;
    gap: var(--gap);
    margin-bottom: var(--gap);
    justify-content: space-between;
    
}

.upload-meta-data p 
{
    font-family: 'basis33';
}
.upload-meta-data > div
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.upload-meta-data > div  > p
{
    font-size: var(--h5-size);
}
.user-image-name
{
    display : flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: var(--gap);
}

.user-image-name p 
{
    font-family: 'basis33';
    font-size: var(--h4-size);
}




.date p 
{
    font-size: var(--note-size);
    
}
.date
{
    display: flex;
    place-items: center;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: column;
    
}

.date > div
{
    display: flex;
}

.date  img
{
    height: var(--icon-img-size);
    border-radius: 0px;
}
.upload-edit
{
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
}

.edit-button
{
    gap: 4px;
    width: var(--edit-button-size);
    height: var(--edit-button-size);
    display: flex;
    padding: 5px;
    place-items: center;
    place-self : end;
    border-radius: 100%;
    position: relative;
}

.edit-button:hover , input[type="checkbox"]:checked + label.edit-button
{
    background-color: var(--text-input-background);
}

.dot
{
    /* border-radius: 100%; */
    width: var(--dot-size);
    height: var(--dot-size);
    background-color: var(--normal-text-color);
}

.option-menu
{
    border: var(--border-size) #00000000 solid ;
    height: 0px;
    width: var(--option-men-width);
    position : absolute;
    top: calc(var(--edit-button-size) * 0);
    right: calc(var(--edit-button-size) * 1.5);
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    gap: var(--gap);
    z-index: 2;
    transition:  height  0.50s 0.01s , background 0.10s 0.35s, border 0.20s  0.40s , padding 0.2s 0.1s  ;
    max-height:  calc(var(--h6-size) * 5);
}

input[type="checkbox"]:checked + label.edit-button + div.option-menu , input[type="checkbox"]:checked + .option-list + .option-menu
{
    background: var(--text-input-background);
    border: var(--border-size) var(--border-color) solid ;
    height: calc(var(--amount) * calc(var(--h6-size) * 1.5));
    padding: 5px 0;
    transition:  height  0.40s 0.2s , background 0.20s 0.15s, border 0.20s  0.05s ,padding 0.2s 0.2s cubic-bezier(.44,.68,.64,.72);
}

input[type="checkbox"]:checked + label.edit-button + .option-menu > .option , input[type="checkbox"]:checked + .option-list + .option-menu > .option 
{
    transform : translate(0px , var(--option-destines));
    transition: transform 0.5s calc(var(--order) * 0.2s)ease , background-color 0.5s ease; ;

}

.option 
{
    background-color: #00000000;
    color: var(--normal-text-color);
    border : none;
    font-family: 'basis33';
    font-size: var(--h6-size);
    border-radius: var(--border-radius);
    width: 90%;
    position: relative;
    top: calc(var(--option-destines) * -1);
    transition: background 0.5s cubic-bezier(0.78, 0.48, 0.01, 1),transform 0.5s cubic-bezier(0.78, 0.48, 0.01, 1);
}
.option >p
{
    text-align: center;
    justify-self: center;
    text-align: center;
    justify-self: center;
    font-family: basis33;
    font-size: var(--h6-size);
    border : none;
    border-radius: var(--border-radius);
    transition: background 0.5s cubic-bezier(0.78, 0.48, 0.01, 1),transform 0.5s cubic-bezier(0.78, 0.48, 0.01, 1);
    
}

.option:hover , input[type="radio"]:checked + label.option , input[type="radio"]:checked 
{
    background-color: var(--title-color);
    color: var(--button-font-color);
}

input[type="radio"]:checked + label.option >p 
{
    color: var(--button-font-color);
}

.comment-ui
{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    place-items: center;
}


.arrow
{
    fill:var(--normal-text-color);
    height: var(--arrow-size);
    width: var(--arrow-size);
    fill-opacity:1;
    stroke:none;
    stroke-width:0.0489864;
    paint-order:stroke markers fill;
    transition: transform 0.1s cubic-bezier(0.78, 0.48, 0.01, 1);
    transform: rotate(180deg);
    place-self: center;
    cursor: pointer;
}


.comment-section 
{
    height: 0;
    width: 95%;
    overflow-y: auto;
    place-self: center;
    overflow-x: hidden;
    transition: height 1.2s cubic-bezier(0.78, 0.48, 0.01, 1);;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    margin: 10px 0;
}


.comment-section.active , input[type="checkbox"]:checked + .comment-section
{
    height: var(--comment-section-height);
}

label:active > .arrow
{
    transform:rotate(180deg) translate(0px , -10px);
}


.comment
{
    /* width: 90%; */
    max-width: 92%;
    padding: 10px;
    background : var(--data-input-bg-color);
    border : var(--border-size) var(--border-color) solid;
    border-radius : var(--border-radius);
    place-self:center;
}


.project-ui
{
    display: grid;
    justify-content: center;
    grid-template-columns:7fr 3fr;
    place-items: center;
}

.project-ui >div
{
    display: grid;
    place-items: center;
    gap: var(--gap);
    width: 100%;
}


.drop-list
{
    width: 90%;
    justify-self: center;
    display: flex;
    padding: 0px;
    background-color: var(--text-input-background);
    border: var(--border-size) var(--border-color) solid;
    border-radius : var(--border-radius);
    place-content : center;
    height: var(--comment-textarea);
    padding: 2px 0px;
    position: relative;
}
.drop-list p 
{
    text-align: center;
    font-size: var(--comment-textarea);
    font-family: basis33;
    width: auto;
}
.option-list 
{
    width: 100%;
    justify-content: center;
    cursor: pointer;
}

.option-list > .arrow
{
    position: absolute;
    top: calc(var(--arrow-size)* -1 );
    width: calc(var(--arrow-size) / 2);
    right: 5px;
}
.option-list + .option-menu
{
    width:100%; 
    top: calc(var(--border-size) * -1);
    left: calc(var(--border-size) * -1);
    /* min-width: 200px; */
}

.dropzone.single
{
    display: flex;
    width: 100px;
    height: 100px;
    padding: 5px;
    place-content : center;
    place-items: center;
}
.dropzone.single > label
{
    display: flex;
    width: 100px;
    height: 100px;
    padding: 5px;
    place-items: center;
}

.dropzone.single > img
{
    height: var(--dropped-img-size);
    width: var(--dropped-img-size);
    border-radius: var(--border-radius);
}

.project
{
    display: grid;
    grid-template-columns: 7fr 3fr;
    margin: 5px 0px;
    place-items: center;
    gap: var(--gap);
}


.project h3,.project  h2 ,.project  h3 ,.project  h4 ,.project  h5 ,.project h6,.blog  h1 ,.blog  h2 ,.blog  h3 , .blog  h4 ,.blog  h5 ,.blog  h6
{

    place-self: start;
}

.project > p,.blog >p 
{
    display: grid;
    margin-left: 20px;
}

.blog > p > img
{
    display: flex;
    height: auto;
    max-height: 300px;
    width: auto;
    border-radius: 0px;
    place-self: center;
}

.project > p:first-of-type
{
    margin: 0px;
    width: 100%;
    text-align: center;
}
.project > img 
{
    width: 80%;
    height: auto;
    max-width: var(--project-img-max-size);
    max-height: var(--project-img-max-size);
    place-self: center;
    border-radius: 0;
}


.blog > div
{
    display: grid;
    grid-template-columns: calc(100% - var(--arrow-size)) var(--arrow-size);
    width: 100%;
}

.profile-imgs
{

    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: calc(var(--profile-img-max-size) / 2 + 10px);

}
.profile-imgs > img:first-child
{
    width: auto;
    height: 100%;
    max-width: 90%;
    max-height: var(--profile-background-max-size);
    place-self: center;
    border-radius: var(--border-radius);
}
.profile-imgs > img:last-child
{
    height: var(--profile-img-max-size);
    width: var(--profile-img-max-size);
    position: absolute;
    bottom: calc(var(--profile-img-max-size) / -2);
}

.bio
{
    text-align: center;
    margin-bottom: 10px;
}

.skill
{
    gap: 10px;
    display: grid;
    grid-template-columns: 1.5fr 7fr 1.5fr;
    place-content: center;
    place-items :center;
    padding: 10px 0px;
}

.skill > p
{
    place-self: center;
    max-width: 80%;
}

.skill img
{
    width:var(--dropped-img-size);
    height:var(--dropped-img-size);
    border-radius: 0;
}

.skill > div
{
    display: flex;
    place-items: center;
    flex-direction: column;
    place-self: center;

}

.skill > div >p 
{
    text-align: center;  
}


.row > h2 , .row>h1
{
    text-align: center;
}

.icon 
{
    border-radius: 0%;
    /* width: 30px; */
    height: 40px;
    place-self: center;
}

.register-ui 
{
    display: grid;
    text-align: center;
    max-width: 600px;
    gap: var(--gap);
    margin: auto;
}


.register-ui > div
{
    display: grid;
    place-items: center;
    grid-template-columns: 3fr 7fr;
    gap: var(--gap);
}

@media(min-resolution : 200dpi )
{
    :root
    {
        --h1-size : 64px;
        --h2-size : 56px;
        --h3-size : 48px;
        --h4-size : 40px;
        --h5-size : 32px;
        --h6-size : 26px;
        --p-size  : 12px;
        --note-size : 14px;


        --nav-bar-height : 95px;

        --border-radius:8px;
        --border-size:2px;

        --textarea-height : 115px;
        --comment-textarea : 30px;
        --comment-section-height : 600px;

        --edit-button-size : 40px;
        --dot-size:10px;

        --arrow-size : 50px;

        --dropped-img-size:75px;
        --profile-img-max-size:150px;
        --profile-background-max-size: 1000px; 
        --user-img-size: 50px ;

        --row-max-width:800px;
        --row-width: 85%;
        
        --project-img-max-size:100%;

        --option-men-width:300px;
        --gap:15px;
    }

    .option-menu
    {
        width: var(--option-men-width);
        max-height:  calc(var(--h4-size) * 6.5);
    }   
    .option , .option > p
    {
        font-size: var(--h4-size);

    }
    input[type="checkbox"]:checked + label.edit-button + div.option-menu , input[type="checkbox"]:checked + .option-list + .option-menu
    {
        height: calc(var(--amount) * calc(var(--h4-size) * 1.4));
    }
    .project-ui , .project-ui>div
    {
        grid-template-columns: 1fr;
        gap: var(--gap);
        place-items: center;
    }

    .project
    {
        grid-template-columns: 1fr;
    }
    .project > h3:first-of-type
    {
        width : 100%
    }
    .upload-meta-data > div:first-child
    {
        flex-direction: column;        
    }
    .nav-bar-options > a 
    {
        display: none;
    }

    .burger
    {
        display: block;
        height: 50px;
        width: 50px;
    }

    .line1,.line2,.line3
    {
        height: 10px;
        width: 50px;
    }
    input[type="checkbox"]:checked + label.burger  > .line1
    {
        transform: rotate(-45deg) translate(-10px , 10px);
    }
    input[type="checkbox"]:checked + label.burger  >  .line2
    {
        transform:  translate(100px , 0px);
    }
    input[type="checkbox"]:checked + label.burger  > .line3
    {
        transform: rotate(45deg) translate(-10px , -10px);
    }
    
    .upload-meta-data > div:first-child
    {
        flex-direction: column;
        place-items: start;
    }

    .upload-meta-data > div:last-child
    {
        flex-direction: column-reverse;
        align-items: flex-end;
    }
    .nav-bar-options > a 
    {
        display: none;
    }
    .nav-bar-menu
    {
        display: flex;
    }

}

@media(max-width : 800px )
{
    :root
    {
        --h1-size : 58px;
        --h2-size : 50px;
        --h3-size : 42px;
        --h4-size : 36px;
        --h5-size : 28px;
        --h6-size : 24px;
        --p-size  : 18px;
        --note-size : 24px;

        --nav-bar-height : 70px;

        --border-radius:8px;
        --border-size:2px;

        --textarea-height : 115px;
        --comment-textarea : 34px;
        --comment-section-height : 600px;

        --edit-button-size : 40px;
        --dot-size:10px;

        --arrow-size : 30px;

        --dropped-img-size:60px;
        --profile-img-max-size:150px;
        --profile-background-max-size: 1000px; 
        --user-img-size: 50px ;
        --icon-img-size :20px;

        
        --mode-switch-size : 50px;
        --option-destines: 400px;
        
        --row-max-width:800px;
        --row-width: 85%;
        
        --project-img-max-size:100%;

        --option-men-width:400px;
        --gap:15px;
    }
    .nav-bar-options > a
    {
        display: none;
    }
    .burger
    {
        display: block;
    }
    .option-menu
    {
        width: var(--option-men-width);
        max-height:  calc(var(--h3-size) * 6.5);
    }   
    .option , .option > p
    {
        font-size: var(--h3-size);

    }
    input[type="checkbox"]:checked + label.edit-button + div.option-menu , input[type="checkbox"]:checked + .option-list + .option-menu
    {
        height: calc(var(--amount) * calc(var(--h3-size) + var(--gap) ));
    }

    .project-ui , .project-ui>div
    {
        grid-template-columns: 1fr;
        gap: var(--gap);
        place-items: center;
    }
    .project
    {
        grid-template-columns: 1fr;
    }

    .upload-meta-data > div:first-child
    {
        flex-direction: column;
        place-items: start;
    }

    .upload-meta-data > div:last-child
    {
        flex-direction: column-reverse;
        align-items: end;

    }
    .nav-bar-options > a 
    {
        display: none;
    }
    .burger
    {
        display: block;
        height: 50px;
        width: 50px;
    }
    .line1,.line2,.line3
    {
        height: 10px;
        width: 50px;
    }
    input[type="checkbox"]:checked + label.burger  > .line1
    {
        transform: rotate(-45deg) translate(-10px , 10px);
    }
    input[type="checkbox"]:checked + label.burger  >  .line2
    {
        transform:  translate(100px , 0px);
    }
    input[type="checkbox"]:checked + label.burger  > .line3
    {
        transform: rotate(45deg) translate(-10px , -10px);
    }

    .nav-bar-menu
    {
        display: flex;
    }
}

@media(max-width : 600px )
{
    :root
    {
        --h1-size : 64px;
        --h2-size : 56px;
        --h3-size : 48px;
        --h4-size : 40px;
        --h5-size : 32px;
        --h6-size : 26px;
        --p-size  : 12px;
        --note-size :14px;


        --nav-bar-height : 95px;

        --border-radius:8px;
        --border-size:2px;

        --textarea-height : 115px;
        --comment-textarea : 30px;
        --comment-section-height : 600px;

        --edit-button-size : 40px;
        --dot-size:10px;

        --arrow-size : 25px;

        --dropped-img-size:40px;
        --profile-img-max-size:150px;
        --profile-background-max-size: 1000px; 
        --user-img-size: 50px ;
        --icon-img-size :15px;

        --row-max-width:800px;
        --row-width: 85%;
        
        --project-img-max-size:100%;

        --option-men-width:200px;
        --gap:15px;
    }
    .nav-bar-options > a
    {
        display: none;
    }
    .burger
    {
        display: block;
    }
    .nav-bar-icons
    {
        justify-content: space-evenly;
        padding: 0px 5px;
    }
    .option-menu
    {
        width: var(--option-men-width);
        max-height:  calc(var(--h4-size) * 6.5);
    }   
    .option , .option > p
    {
        font-size: var(--h4-size);
    }
    input[type="checkbox"]:checked + label.edit-button + div.option-menu , input[type="checkbox"]:checked + .option-list + .option-menu
    {
        height: calc(var(--amount) * calc(var(--h4-size) + var(--gap) ));
    }

    .project-ui , .project-ui>div
    {
        grid-template-columns: 1fr;
    }
    .project
    {
        grid-template-columns: 1fr;
    }
    .nav-bar-menu a , .nav-bar-menu p
    {
        font-size: calc(var(--h1-size) );
    }
    .nav-bar-menu
    {
        display: flex;
    }
}


